{% extends "registration/base.html" %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span>Вход</span>
    </div>
    <div class="block-wrapper">
        <h2>Вход</h2>

        <form class='form' method='post'>
            <div class='form-wrap'>
                <div class='form-left'>
                    {{ form.as_table }}
                </div>
                <div class='form-right'>
                </div>
            </div>
            
            <input type="hidden" name="action" value="login" />
            {% csrf_token %}
            <button type="submit" class='btn-yellow'>Войти</button>
            <span class='small-txt'>Продолжая, вы соглашаетесь с условиями пользования</span>
            <br /><a href='/accounts/register/'>Ещё не зарегистрированы?</a>
            <br /><a href='/accounts/password/reset/'>Забыли пароль?</a>
        </form>
    </div>
    
{% endblock %}