{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span>Восстановление пароля</span>
    </div>
    <div class="block-wrapper">
        <h2>Восстановление пароля</h2>
    
        {% if validlink %}
            <form class='form' method='post'>
                <div class='form-wrap'>
                    <div class='form-left'>
                        {{ form.as_table }}
                    </div>
                    <div class='form-right'>
                    </div>
                </div>
                <button type="submit" class='btn-yellow'>Сменить</button>
                {% csrf_token %}
            </form>
        {% else %}
            <p>Пароль не был изменен. Неверный код.</p>
        {% endif %}
    </div>
{% endblock %}