<!DOCTYPE html>

<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
<head>
    <title>Мегалайн-инжиниринг | {% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script src="/static/js/ui/jquery.ui.core.min.js"></script>
    <script src="/static/js/ui/jquery.ui.slider.min.js"></script>
    <script src="/static/js/touch.js"></script>
</head>
<body>
<div class="bg-top"></div>
<div class="wrapper">
    <header class="header">
        <h1 class="header__heading">Megaline Инжиниринг
        </h1>


        <div class="header-cart">
            <i class="icon cart-icon"></i>
            <span class="header-cart-title">Ваша корзина пуста</span>
            <a href="#">Оформить заказ</a>
        </div>
        <div class="enter">
            {% if user.is_authenticated %}
                <a href="/lk/" class="txt-red">Личный кабинет</a><br/>
                <a href="/accounts/logout/">Выход</a>
            {% else %}
                <a href="/accounts/login/" class="txt-red">Вход</a><br/>
                <a href="/accounts/register/">Регистрация</a>
            {% endif %}
            
        </div>
        <div class="header-block">
            <i class="icon phone-icon"></i>

            <div class="header-block-title"> Время работы
            </div>
            <span>ПН-ВС с 09:00 до 21:00</span>
        </div>
        <div class="header-block">
            <i class="icon icon-clock"></i>

            <div class="header-block-title"> Время работы
            </div>
            <span>ПН-ВС с 09:00 до 21:00</span>
        </div>
    </header>
    <nav class='header-nav'>
        <a href="/">Главная </a>
        <a href="/o-kompanii/">О компании </a>
        <a href="#">Услуги</a>
        <a href="#">Прайс-лист</a>
        <a href="#">Оплата и доставка </a>
        <a href="#">Сертификаты и лицензии</a>
        <a href="#">Сотрудничество </a>
        <a href="#">Контакты </a>
    </nav>
    {% block slideshow %}
    {% endblock %}
    <div class="container">
        <div class="sidebar">
            {% include 'catalog_panel.html' %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</div>
<footer class="footer-wrap">
    <div class="footer-contacts"><p class='footer-title'>Контакты </p>

        <p> Бизнес центр "Наш центр" </p>
        <p> г. Москва, ул. Ряжская, д. 13, 4 этаж </p>
        <a href="#"> Схема проезда</a></div>
    <div class="footer">
        <ul class="footer-list">
            <li class='footer-title'><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Прайс-лист</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="footer-list">
            <li class='footer-title'><a href="#">Услуги</a></li>
            <li><a href="#">Установка</a></li>
            <li><a href="#">Гарантия</a></li>
            <li><a href="#">Сервис</a></li>
        </ul>
        <ul class="footer-list">
            <li class='footer-title'><a href="#">Кондиционеры</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Прайс-лист</a></li>
            <li><a href="#">Оплата и доставка</a></li>
        </ul>
        <ul class="footer-list">
            <li class='footer-title'><a href="#">Статьи</a></li>
            <li><a href="#">Написать директору</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            <li><a href="#">Прокладка трассы</a></li>
        </ul>
    </div>
    <div class="foot-info">
        <span class="foot-info-author"><a href="http://webgenesis.ru/" target='_blank'>Создание сайта — webgenesis.ru</a></span>

        <div class="foot-soc"><img src="/static/img/soc.png" alt=""/></div>
        <p>ООО "Мегалайн-инжиниринг" 2004-2014. </p>

        <p> Продажа и монтаж климатической техники, центральных (встроенных) пылесосов </p>

    </div>

</footer>
<div class="bg-bottom"></div>
</body>
</html>

