{% load mptt_tags %}

<h2>Каталог</h2>
<nav class='sidebar-nav'>
    <ul>
    {% for i in categories %}
        <li class='p'>
            <a href="/category/{{ i.slug }}/">{{ i.name }}</a>
            {% if not i.is_leaf_node %}
            <ul {% if i in category.breadcrumb %} style='display: block !important' {% endif %}{% if i == category %} style='display: block !important' {% endif %}>
                {% for j in i.children.all %}
                    <li><a {% if category.slug == j.slug %} class='active'{% endif %} href="/category/{{ j.slug }}/">{{ j.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>   
    {% endfor %}
    </ul>
</nav>

{% if category %}
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 90000,
                values: [ {{ price_from }}, {{ price_to }} ],
                slide: function (event, ui) {
                    $("#amountEnd").val(ui.values[ 1 ]);
                    $("#amountStart").val(ui.values[ 0 ]);
                    
                    $("input#parametr_price_from").val(ui.values[ 0 ]);
                    $("input#parametr_price_to").val(ui.values[ 1 ]);

                }
            });
            $(".slider-range-min").html($("#slider-range").slider("option", "min"))
            $(".slider-range-max").html($("#slider-range").slider("option", "max"))


            $(".header-nav a").click(function () {
                console.log('111')
                $(".header-nav a").removeClass("active");
                $(this).addClass("active");
            })

            $(".tovar-preview").click(function () {
                var index = $(this).index();
                $(".tovar-preview").removeClass("active");
                var item = $(".tovar-bigImg__i");
                item.fadeOut().removeClass("active");
                item.eq(index).addClass("active").fadeIn();
                $(this).addClass("active");
            });
        });
    </script>
    
    <div class="filter">
        <h2>Выберите нужные параметры</h2>

        <form action="/filter/{{ category.slug }}/" method='post'>
            {% csrf_token %}
            <div class="filter-block">
                <div class="filter-block-title"> Название:</div>
                <input type="text" name='q'/>
            </div>
            <div class="filter-block">
                <span class="filter-block-title">Цена:</span>
                от <input class="number" type="text" value="{{ price_from }}" id="amountStart" name='parametr_price_from'/> до
                <input type="text" class="number" value="{{ price_to }}" id="amountEnd" name='parametr_price_to'/>

                <div id="slider-range"></div>
                <span class="slider-range-min"></span>
                <span class="slider-range-max"></span>
            </div>
            
            {% for p in category.parametrs.all %}
                {% if p.name != 'Производитель' %}
                    {% if p.name != 'Сборка' %}
                        <div class="filter-block">
                            <div class="filter-block-title">{{ p.name }}:</div>
                            {% if p.values %}
                                <select name="parametr_{{ p.id }}">
                                    <option value=""></option>
                                    {% for v in p.get_values %}
                                        <option value="{{ v }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" name='parametr_{{ p.id }}' value='' />
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="filter-block">
                            <div class="filter-block-title">Сборка:</div>
                            {% for v in p.get_values %}
                                <label><input type="checkbox"  name='parametr_{{ p.id }}' value='{{ v }}'/>{{ v }}</label>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="filter-block">
                        <div class="filter-block-title">Производитель:</div>
                        {% for v in p.get_values %}
                            <label><input type="checkbox" name='parametr_{{ p.id }}' value='{{ v }}' />{{ v }}</label>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            
            
            <div class="filter-block">
                <img src="/static/img/btn-search.png" alt="" usemap="#map"/>
                <button type='submit' class="search-btn-txt">
                    <map name="map">
                        <area shape="poly" coords="0, 0, 1, 19, 130, 63, 260, 19, 259, 1" />
                    </map>
                    Искать
                </button>
            </div>
        </form>
    </div>
{% endif %}